
.shape {
    /*border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);*/
    position: relative;
    margin-top: -50px;
    top: 67px;
    right: 20px;
    /* border-style: solid;*/
    /*border-width: 0 70px 40px 0;*/
    float: right;
    /*height: 0px;*/
    /*width: 50px;*/
    background-color: #E27C7C;
    /*z-index: 1;*/
    padding: 5px;
}

.offer {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
    cursor: pointer;
}

.offer-radius {
    border-radius: 5px;
}

.offer-default {
    border-color: #999999;
}

.offer-default .shape {
    border-color: transparent #999999 transparent transparent;
}

.shape-text {
    color: #fff;
    /*font-size:12px;
    font-weight:bold;
    position:relative;
    right:-40px; top:10px;*/
}

.quickview {
    display: none;
}

.offer:hover .shape-text {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.offer:hover .quickview {
    display: inline-block;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

.offer:hover > .shape {
    background-color: #a07936;
}

.offer-content {
    /*padding:0 20px 10px;*/
    padding: 5px;
}

/* list styling */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

/* font stuff */
.bidding-price {
    font-weight: 600;
    font-size: 1.4em;
}

.retail-price {
    font-size: 1.2em;
}

.crossed {
    text-decoration: line-through;
    color: red;
}

.same-height-row {
    display: flex; /* equal height of the children */
}

.same-height-col {
    flex: 1; /* additionally, equal width */

    padding: 1em;
    border: solid;
}

.proportion-image {
    height: 400px;
    /*width: 400px;*/
    overflow: hidden;
}

.proportion-image img {
    height: auto;
    width: 100%;
}

/* new product box sizing and styling */
.productbox {
    /*width: 30%;*/
    background-color: #dddddd;
    padding: 10px;
    margin-bottom: 10px;
    /*margin-left:1px;
    margin-right:1px;*/
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border:0.03em solid #607D8B;
}

.producttitle {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.bid-status {
    font-weight: bold;
    text-align: center;
}

.winning-user {
    font-weight: 400;
    text-align: center;
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.2em;
}

.discount {
    font-weight: bold;
    font-size: 1.2em;
}