html,
body {
    height: 100%;
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 30px;
    margin-top: 30px;
    background: #ebebeb;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.full-width {
    margin: 0 auto;
    width: 100%;
    background-color: grey;
}

.footer {
    height: auto;
    background-color: #081A23;
    border-top: 1px solid #dd001e;
    padding: 20px;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 105px;
}

.footer li, .footer h3, .footer a, .footer a:hover, .footer label, .copyright {
    color: #F7FFFF;
}

.footer li {
    background-color: transparent;
    border: none;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}

.product-nav > li > a {
    font-weight: bold;
    border-bottom: solid 5px transparent;
}

.navbar {
    min-height: 55px;
}

/**
.navbar-brand {padding: 5px 15px; height: 50px; line-height: 80px;}
**/

.product-nav > li > a:hover {
    color: #a07936;
    font-weight: bold;
    border-bottom: solid 5px #a07936;
}

.product-image{
    cursor: pointer;
}

/* text display */
.bid-message{
    font-weight:700;
}
/* button styling */
.hammer-icon{
    background:url('../images/hammer-icon.png');
    background-repeat:no-repeat;
    background-size:contain;
    /*position:absolute;*/
    width:30px;
    height:30px;
    /*margin-left:-20px;*/
}
.btn.btn-bid{
    border: 0.1em solid #0a0a0a;
    background-color: #FFFFFF;
    color:#a07936;
    height:40px;
    text-align: center;
    vertical-align: middle;
}

.btn.btn-bid:hover{
    transition: background-color 0.5s ease;
    background-color: #a07936;
    color:#FFFFFF;
}
.btn.noradius{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}