
# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor/bin
/vendor/phpspec
/vendor/cebe
source
tests
test
testgit
doc
docs
nuget
src
extras
codeception
vendor/guzzlehttp/guzzle/build/
vendor/yiisoft/yii2/console/runtime/
#phpunit
#assets/*
yii2-debug
yii2-gii

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
vendor/bower-asset/velocity/.bower.json
vendor/ezyang/htmlpurifier/TODO
vendor/ezyang/htmlpurifier/plugins/phorum/htmlpurifier/
